// Overrides for the header.

.uikit-body header {
  border-bottom: 4px solid $uikit-colour-Border;
  a {
    border: none;
    &:hover {
      background-color: transparent;
    }
  }
  .uikit-header-heading {
    margin-top: uikit-space(0.4);
  }
  &.uikit-header {
    padding: 0;
  }
}
