// Menu layout.

.menu-wrapper {
  margin-bottom: uikit-space(1.2);
  .menu {
    display: flex;
    padding: 0;
    margin: 0;
    .menu-item {
      flex: 0 0 auto;
      font-weight: bold;
    }
  }
  .menu--main .menu {
    justify-content: flex-start;
    .menu-item {
      margin: 0 uikit-space(1) 0 0;
    }
  }
  .menu--account .menu {
    @include uikit-media('xs') {
      margin-top: uikit-space(1);
      justify-content: flex-start;
      .menu-item {
        margin: 0 uikit-space(1) 0 0;
      }
    }
    @include uikit-media('sm') {
      margin-top: uikit-space(0);
      justify-content: flex-end;
      .menu-item {
        margin: 0 0 0 uikit-space(1);
      }
    }
  }
}
