// Menu layout.

.top-wrapper {
  .menu {
    display: flex;
    padding: 0;
    .menu-item {
      flex: 0 0 auto;
      margin: 0 uikit-space(0.25);
    }
  }
  .menu--main .menu {
    justify-content: flex-start;
    border-left: 8px solid $uikit-colour-Border-50;
    padding-left: uikit-space(0.25);
  }
  .menu--account .menu {
    justify-content: flex-end;
    border-right: 8px solid $uikit-colour-Border-50;
    padding-right: uikit-space(0.25);
  }
}
