// Overrides for Views Exposed Forms.

.views-exposed-form {
  @extend .container;
  margin-bottom: 1rem;
  > .form--inline {
    @extend .row;
    .form-item,
    .form-actions {
      margin: 0;
      clear: none;
      @extend .col-sm-4;
    }
    .form-actions {
      margin-top: uikit-space(1.0);
    }
  }
}
